Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is used to store and organise data in a server or a local system.

SQL databses are relational and uses tables to store data while NoSQL are non-relational and use flexible data models like key value and graph to store data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language which is used to define and manage the structure of a database and their tables.

1.Create statement is used to create databases or tables.

CREATE TABLE employees (
    
    id INT PRIMARY KEY,
    
    name VARCHAR(50),
    
    salary DECIMAL(10,2)
    
);

2.ALTER statement is used to modify the pre-defined tables schemes like adding new columns in table.

ALTER TABLE employees ADD COLUMN age INT;

3.DROP statement is used to remove the existing database or tables.

DROP TABLE employees;

4. TRUNCATE statement is used to remove all the data from an existing table, while keeping the table structure/schema as it is.

TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manupulation Language which is used to manuplate like inserting, deleting, upating and selecting the data present in the databases.

1.INSERT statement is used to add a data/row in a table by providing the values of tables columns.

INSERT INTO employees VALUES (001, 'Vraj Patel', 30000.00)

2.UPDATE statement is used to modify the existing row/data in a table.

UPDATE employees SET 40000.00 WHERE name = 'Vraj Patel';

3.DELETE statement is used to remove individual or a group of rows from a table.

DELETE FROM employees WHERE salary > 30000.00;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language which is used to select or retrive data from databases.

1.SELECT is used to retrive data from tables.

-- Used to select all the data from the column

SELECT * FROM employees;

-- Used to select data on a condition

SELECT name, salary FROM employees WHERE salary > 40000;

Q5. Explain Primary Key and Foreign Key.

Primary Key is a special key used to identify the data of a database uniquely.

Foreing Key is a key used to define a relation between two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Createing a connection with mysql database
db = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="database_name"
)

# Creating a cursor object
cursor = db.cursor()

# Executing a SELECT statement
cursor.execute("SELECT * FROM employees")

for row in cursor.fetchall():
    print(row)

# Closing the database and cursor
cursor.close()
db.close()

Here,

    cursor() object is used to execute queries and retrieve results from the database.

    execute() method of the cursor object is used to execute SQL statements and retrieve the results. It returns the data of affected rows else it returns None if no rows were affected.

Q7. Give the order of execution of SQL clauses in an SQL query.

SELECT department_name, COUNT(*) AS num_employees

FROM employees

JOIN departments ON employees.department_id = departments.department_id

WHERE salary > 50000

GROUP BY department_name

HAVING COUNT(*) > 10

ORDER BY num_employees DESC

LIMIT 10





In this query, the clauses are executed in the following order:

FROM clause: specifies the employees and departments tables that will be joined

JOIN clause: joins the two tables on the department_id column

WHERE clause: filters the rows based on the salary column being greater than 50000

GROUP BY clause: groups the rows by department_name

HAVING clause: filters the groups based on the count of employees being greater than 10

SELECT clause: selects the department_name column and a calculated column num_employees

ORDER BY clause: sorts the result set based on the num_employees column in descending order

LIMIT clause: limits the result set to 10 rows